body {
  background-image: url(background.jpg);
  margin: 0;
  animation: moveBackgroundToTopRight 20s linear infinite alternate;
}

@keyframes moveBackgroundToTopRight {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right top;
  }
}

header {
  position: relative;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(255, 255, 255, 0.7) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 0;
}

header > h1 {
  position: relative;
  z-index: 1;
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 100px;
  color: rgb(145, 20, 138);
}

.carousel-container {
  display: flex; /* Размещаем кнопки и карусель в одну линию */
  align-items: center; /* Центрируем по вертикали */
  position: relative; /* Чтобы можно было позиционировать элементы, если надо */
  overflow: hidden; /* Обрезаем содержимое, выходящее за пределы */
  max-width: 100%; /* Карусель не шире экрана */
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.container {
  display: flex; /* Делаем ленту слайдов в одну линию */
  transition: transform 0.5s ease; /* Плавная анимация сдвига */
}

.carousel-button {
  position: fixed;
  top: 50%;
  opacity: 0.6;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease, transform 0.4s ease;
}

.carousel-button:hover {
  opacity: 1;
  transform: scale(1.2);
}

.button_scroll {
  width: 100%;
}

.back {
  left: 0;
}

.next {
  right: 0;
}

/* --- Базовые box --- */
.box {
  aspect-ratio: 16 / 9; /* ширина : высота */
  flex: 0 0 auto;
  margin: 0 80px;
  height: auto;
  text-align: center;
  border-radius: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Внутри box — фотка */
.boxmidleone,
.boxmidletwo,
.boxmidlethree,
.boxmidlefour,
.boxmidlefive,
.boxmidlesix,
.boxmidleseven,
.boxmidleeight,
.boxmidlenine,
.boxmidleten {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  border: black 5px solid;
  border-radius: 30px;
  flex-shrink: 0;
}

.boxmidleone {
  background-image: url(tiffany.jpg);
}
.boxmidletwo {
  background-image: url(pusia.jpg);
}
.boxmidlethree {
  background-image: url(kotik.jpg);
}
.boxmidlefour {
  background-image: url(four.jpg);
}
.boxmidlefive {
  background-image: url(five.jpg);
}
.boxmidlesix {
  background-image: url(six.jpg);
}
.boxmidleseven {
  background-image: url(seven.jpg);
}
.boxmidleeight {
  background-image: url(eight.jpg);
}
.boxmidlenine {
  background-image: url(nine.jpg);
}
.boxmidleten {
  background-image: url(ten.jpg);
}

/* Лайки */
.like-button {
  justify-content: end;
  font-size: 70px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.like-button img {
  width: 70px;
  height: 70px;
  border: 1px black solid;
  border-radius: 50%;
  filter: invert(100%);
}

.like-button.liked img {
  filter: invert(0%);
  transform: scale(1.2);
}

.name-box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  text-align: center;
  position: relative;
  height: 100px;
  width: auto;
  /* margin-left: 100px; */
  border-radius: 30px;
  overflow: hidden;
}

.name-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(255, 255, 255, 0.7) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 0;
}

.name-cat {
  font-family: "Winky Rough", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;
  color: rgb(113, 50, 119);
  position: relative;
  z-index: 1;
}

.copyright {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: rgb(145, 20, 138);
  margin: 0;
}

/* --- Laptop L (1440px) --- */
@media (max-width: 1440px) {
  .box {
    margin: 0 70px;
    width: calc(33.33% - 140px); /* На компьютере: 3 карточки в ряд */
  }
}

/* --- Laptop (1024px) --- */
@media (max-width: 1024px) {
  .box {
    margin: 0 60px;
    width: calc(50% - 120px); /* На планшете: 2 карточки в ряд */
  }
}

/* --- Tablet (768px) --- */
@media (max-width: 768px) {
  header > h1 {
    font-size: 70px;
  }
  .box {
    margin: 0 60px;
    width: calc(50% - 120px); /* На планшете: 2 карточки в ряд */
  }
}

/* перенёс mobile s вниз, бо конфлитируют по размерам */



/* --- Mobile M (425px) --- */
@media (max-width: 425px) and (orientation: portrait) {
  /* Medium phones portrait */
  header > h1 {
    font-size: 50px;
  }
  .carousel-viewport {
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .box {
    /* flex: 0 0 90%; */
    /* width: 90%; */
    height: auto;
    scroll-snap-align: center;
    margin: 0 35px;
    width: calc(100% - 70px); /* На телефоне: 1 карточка в ряд */
  }
  .container::before,
  .container::after {
    content: "";
    flex: 0 0 35px; /* ширина равна margin карточки */
  }

  /* Внутри box — фотка */
  .boxmidleone,
  .boxmidletwo,
  .boxmidlethree,
  .boxmidlefour,
  .boxmidlefive,
  .boxmidlesix,
  .boxmidleseven,
  .boxmidleeight,
  .boxmidlenine,
  .boxmidleten {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: black 5px solid;
    border-radius: 30px;
    flex-shrink: 0;
  }

  .carousel-button {
    display: none;
  }
}
@media (max-width: 740px) and (orientation: landscape) {
  /* Medium phones landscape */
}

/* --- Mobile L (640px) --- */
@media (max-width: 640px) and (orientation: portrait) {
  /* Large phones portrait */
}
@media (max-width: 900px) and (orientation: landscape) {
  /* Large phones landscape */
}

/* --- Tablet S (768px) --- */
@media (max-width: 768px) and (orientation: portrait) {
  /* Small tablets portrait */
}
@media (max-width: 1024px) and (orientation: landscape) {
  /* Small tablets landscape */
}

/* --- Tablet M (834px) --- */
@media (max-width: 834px) and (orientation: portrait) {
  /* Medium tablets portrait */
}
@media (max-width: 1112px) and (orientation: landscape) {
  /* Medium tablets landscape */
}

/* --- Tablet L (1024px) --- */
@media (max-width: 1024px) and (orientation: portrait) {
  /* Large tablets portrait */
}
@media (max-width: 1366px) and (orientation: landscape) {
  /* Large tablets landscape */
}

/* --- Laptop (1440px) --- */
@media (max-width: 1440px) {
  /* Standard laptops */
}

/* --- Desktop S (1600px) --- */
@media (max-width: 1600px) {
  /* Small desktops */
}

/* --- Desktop M (1920px) --- */
@media (max-width: 1920px) {
  /* Full HD desktops */
}

/* --- Desktop L (2560px) --- */
@media (min-width: 1921px) {
  /* Large desktops / 2K / 4K */
  .box {
    width: calc(33.33% - 160px); /* На компьютере: 3 карточки в ряд */
  }
}

/* --- Mobile S (375px) --- */
@media (max-width: 375px) and (orientation: portrait) {
  /* Small phones portrait */
  header > h1 {
    font-size: 40px; 
  }
  .box {
    margin: 0 25px;
    width: calc(100% - 50px); /* На телефоне: 1 карточка в ряд */
  }
  .name-box {
    height: 65px;
  }
  .like-button {
    font-size: 50px;
    padding: 0;
  }
  .like-button img {
    width: 50px;
    height: 50px;
  }
  .name-cat {
    font-size: 2rem;
  }
}
@media (max-width: 667px) and (orientation: landscape) {
  /* Small phones landscape */
  header > h1 {
    font-size: 10px;
  }
}