.like-button {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}


.name-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 500px;
  background-color: black;
  margin-left: 100px;
  padding: 0 20px;
  border-radius: 30px;
}
